
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-login{
  height: 100vh;
  width: 100%;
  background-color: #75C9DD;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form{
  background-color: white;
  border-radius: 20px;
  min-width: 35%;
  padding: 30px;
}

.sidenav-component{
  height: 100vh;
}

.bg-secondary-blue{
  background-color: #42B5D0;
}

.list{
  list-style-type: none;
}

.link{
  text-decoration: none;
  color: white;
}

.text-link{
  text-decoration: none;
  color: white;
}

.text-link:hover{
  color: #FEBD01;
}

.bg-primary-blue{
  background-color: #2E6493;
}

.bg-yellow{
  background-color: #FEBD01;
}

.text-yellow{
  color: #FEBD01;
}

.menu-list{
  color: white;
}
.menu-list:hover{
  background-color: #FEBD01;
}

.custom-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.modal-dialog.custom-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

@media (max-width: 575.98px) {
  .sidenav-responsif {
    display: none;
  }
  .top-bar-navigation{
    display: flex;
  }
}

@media (min-width: 768px) { 
  .sidenav-responsif {
    display: none;
  }
  .login-responsif{
    width: 60%;
  }
  .top-bar-navigation{
    display: flex;
  }
 }

@media (min-width: 992px) { 
  .sidenav-responsif {
    display: block
  }
  .login-responsif{
    width: 50%;
  }
  .top-bar-navigation{
    display: none;
  }
 }

@media (min-width: 1200px) { 
  .sidenav-responsif {
    display: block;
  }
  .login-responsif{
    width: 50%;
  }
  .top-bar-navigation{
    display: none;
  }
 }